text.graph-name{
    x : 150px;
    y : 40px;
}
rect.resid-rect{
    fill : #99E265;
}

rect.resid-danger-rect{
    fill : #F25D53;
}

rect.sum-rect{
    fill : #49B3A4;
}

line.assigned-line{
    stroke: #2E3C48;
    stroke-width: 5px;
    stroke-dasharray: 5;
}

.cate-resid {
    fill: none;
    stroke: #99E265;
    stroke-width: 2px;
}

circle.cate-resid-point{
    fill: #49B3A4;

    
}
.cate-resid-text{
    size: 2;
}