{% extends "base.html" %}

{% block title %}
기록하기
{% endblock title %}

{% block first_row_block%}
<div class = "text-center">
    <form method = "POST" class = "form" action = '{% url "add_history" %}'>
        <fieldset id = "normally_add_history_box">
            {{ add_history_form }}
            {% csrf_token %}
            {% if add_history_form.error %}
                <div class = "form-group has-error">
                    <span class = "help-block">{{ form.text.errors }}</span>
                </div>
            {% endif %}
            <br>
            <div class = "btn-group">
                <a href = "{% url 'main' %}" id = "go_to_main" role = "button" class = "btn btn-default" >돌아가기</a>
                <button id = "add_history_button" type = "submit" class = "btn btn-default">기록</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock first_row_block%}

{%block second_row_block%}
{%endblock second_row_block %}
