{% extends "base.html" %}

{% block title %}
기록하기
{% endblock title %}

{% block add_on_source %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap-datepicker.kr.js" charset="UTF-8"></script>
<script src="/static/js/add_history.js" charset="UTF-8"></script>
{% endblock%}



{% block first_row_block%}
<div class = "text-center">
    <form method = "POST" class = "form-horizontal" action = '{% url "add_history" %}'>
        <fieldset id = "normally_add_history_box">
            {{ add_history_form }}
            {% csrf_token %}
            
            {% if add_history_form.error %}
                <div class = "form-group has-error">
                    <span class = "help-block">{{ form.text.errors }}</span>
                </div>
            {% endif %}
            <br>
            <div class = "btn-group">
                <a href = "{% url 'main' %}" id = "go_to_main" role = "button" class = "btn btn-default" >돌아가기</a>
                <button id = "add_history_button" type = "submit" class = "btn btn-default">기록</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock first_row_block%}
{%block between_row %}
<svg id ="graph-canvas" class = "col-xs-12" height = "500">

</svg>

<script>
    var cate_json = '{{category_json}}';
    cate_json = cate_json.replace(/&quot;/gi, '"');

    cate_infos = jQuery.parseJSON(cate_json);
</script>


<script src="https://d3js.org/d3.v5.min.js"></script>
<link rel = "stylesheet" href = "/static/css/visualize.css">
<script src="/static/js/visualize_add_history.js" charset="UTF-8"></script>
{%endblock between_row %}
{%block second_row_block%}
{%endblock second_row_block %}
