{% extends "base.html" %}
{%block body_block%}

<div class = "container"> 
    <div class= "row">
        <div class ="page header text-center"><h1>거래내역 입력</h1></div>
        <div class = "col-md-6 col-md-offset-3 jumbotron">
            <div class = "text-center">
                <form method = "POST" action = '{% url "add_history" %}'>
                    <fieldset id = "normally_add_history_box">
                        {{ add_history_form.as_p }}
                        {% csrf_token %}
                        {% if add_history_form.error %}
                            <div class = "form-group has-error">
                                <span class = "help-block">{{ form.text.errors }}</span>
                            </div>
                        {% endif %}
                        <div class = "btn-group">
                            <a href = "{% url 'main' %}" id = "go_to_main" role = "button" class = "btn btn-info" >돌아가기</a>
                            <button id = "add_history_button" class = "btn btn-info">제출</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock body_block %}
