<html>
    <head>
        <meta charset="utf-8">
        {% comment %} <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <Title>{% block title %}{%endblock title %}-Cash Planner</Title>
    
        <!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous"> -->
        <link href="https://fonts.googleapis.com/css?family=Gothic+A1&amp;subset=korean" rel="stylesheet">
        
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type= "text/javascript" src = "/static/js/bootstrap.min.js"> </script>
        <link rel="stylesheet" href="/static/css/base.css">
        {% block add_on_source %}
        {% endblock %}

    </head>
    <body class= "body">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                
                <a class="navbar-brand" id= "main_menu" href="{% url 'main' %}"><small>CASH PLANNER</small></a>
                
                <a id = "add_history_menu"  href = "{% url 'add_history' %}" 
                    role ="button" class ="btn btn-default btm-xs vertical-center" >바로기록</a>
                <a id = "reset_menu"  href = "{% url 'reset' %}" 
                    role ="button" class ="btn btn-danger btm-xs vertical-center" >DB리셋</a>
                
                <button type = "button" class= "navbar-toggle btn-info btn-xs" 
                    data-toggle = "collapse" data-target ="#top-menu-collapse" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                </button>
            
            </div>

            <div id= "top-menu-collapse" class= "collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class = "nav-item"><a class = "nav-link" id ="show_history_menu"
                        href = "{% url 'show_history' %}">얼마나 썼지?</a></li>
                    <li class = "nav-item"><a class = "nav-link" data-toggle="popover" data-placement = "bottom"
                        title="개발중" data-content="아직 만들지 않았습니다 ㅠㅠ">설정 변경</a></li>
                </ul>
                    <script>     
                    //popup을 작동시키는 script
                        $(document).ready(function(){
                            $('[data-toggle="popover"]').popover(
                                {container: 'body'}
                            ); 
                        });
                </script>
            </div>  
      
        </nav>
        
        {% comment %} <div style="margin-top:40px"></div> {% endcomment %}
        <div class = "container">
            <div class = "row">
                <div class ="col-xs-12 col-md-6 col-md-offset-3 jumbotron">
                    {%block first_row_block%}
                    {%endblock first_row_block%}
                </div>
            </div>

            <div class = "row">
                <div class ="col-xs-12 col-md-6 col-md-offset-3 jumbotron">
                    {%block second_row_block%}
                    {%endblock second_row_block%}
                </div>
            </div>
        </div>
      
    </body>
</html>