{% extends "base.html" %}

{% block title %}
이번주 상황
{% endblock title %}

{% block add_on_source %}
{% endblock %}


{%block first_row_block%}
<h3>{{today_date}}</h3>
<h5>이번주 목표달성 상황</h5>
<div class = "text-center">
    <table id = "present_box" class = "col-xs-12 table table-borderless">
        <tr id = "total_assigned"><td>목표 금액</td><td>200000원</td></tr>
        <tr id = "total_sum"><td>사용한 돈</td><td>{{total_sum}}원 </td></tr>
        <tr id = "residual"><td>남은 돈</td><td>{{residual}}원</td></tr>
    </table>
</div>
{%endblock first_row_block %}



{%block between_row %}


<svg id ="graph-canvas" class =  "col-xs-12" height = "500">

</svg>

<script>
    var cate_json = '{{category_json}}';
    cate_json = cate_json.replace(/&quot;/gi, '"');

    cate_infos = jQuery.parseJSON(cate_json);
</script>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src = "/static/js/visualize_main.js"></script>
<link rel = "stylesheet" href = "/static/css/visualize.css">

{%endblock between_row %}




{%block second_row_block%}
<h5>분류별 목표달성 상황</h5>
<table id = "detail_box" class = "text-center table table-borderless">
    <thead>
        <th class = "text-center">분류</th>
        <th class = "text-center"> 소비 목표 </th>
        <th class = "text-center">남은 돈 <span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-placement="top" 
            title="Cash Planner에서는 각 분류별로 소비 목표를 정합니다. '남은 돈'은 소비 목표에서 이번주에 쓴 돈을 빼고 남은 돈을 의미합니다."
            data-content= "분류별 설정 기능은 추가 예정입니다."></span></th>
        
        <th class = "text-center">오늘 쓸 돈 <span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-placement="top" 
            title="'오늘 쓸 돈'은 이번주 소비 목표를 달성하려면 하루에 얼마씩 써야 하는 지 표시합니다."></span></th>
    </thead>
{% for cate_info in list_of_category_info %}
    <tr id = {{ cate_info.name }}
            {% if cate_info.for_day < 0 %}
            class = "text-danger"
            {% elif cate_info.for_day < cate_info.for_day_recommend %}
            class = "text-super-warning"
            {% endif %}
     >
    <td>{{cate_info.name }}</td>
    <td>{{cate_info.assigned}}원</td>
    <td>{{ cate_info.resid }}원</td>
    <td>
        {{ cate_info.for_day }}원
    </td>
    </tr>
{% endfor %}
</table>
{%endblock second_row_block %}


