{% extends "base.html" %}

{% block title %}
얼마나 썼지?
{% endblock title %}

{% block first_row_block %}
<h3>이번주 내역</h3>
<div class = "text-center">
    <table id = "this_week_history_box" class = "col-xs-12 table-hober">
        <tr><th>날짜</td><th>분류</td><th>내용</td><th>금액</th></tr>
        {% for hist, date in this_week_history.items %}
            <tr>
                <td>{{date}}</td>
                <td>{{hist.category}}</td>
                <td>{{hist.name}}</td>
                <td>{{hist.price}}원</td>
                <td><form action = "{% url 'delete_history' %}" method = "post">
                    {% csrf_token %}
                    <input name = "id" value ="{{hist.id}}" hidden>
                    <button type="submit" class = "btn btn-danger btn-xs"
                        id = "{{date}}_{{hist.category}}_{{hist.name}}_{{hist.price}}_delete_button">
                        <span class= "glyphicon glyphicon-remove"></span></button>
                </form></td>
            </tr>
            {% if hist.halbu_week >= 2%}
            <tr>
                <td></td><td></td>
                <td>
                    {{hist.halbu_week}}주 할부
                </td>
                <td id = 'halbu_price'>
                </td>
            </tr>
            <script>
                    $(document).ready(function(){
                        $('#halbu_price').html(parseInt({{hist.price}}/{{hist.halbu_week}}) + "원");
                    });
               
            </script>
            {% endif %}

        {% endfor%}
    </table>
</div>
{% endblock first_row_block %}

{% block second_row_block%}
<h3>그 전 내역</h3>
<table id = "long_ago_history_box" class = "col-xs-12 table-hober">
        <tr><th>날짜</td><th>분류</td><th>내용</td><th>금액</th><th></th></tr>
        {% for hist, date in long_ago_history.items %}
        <tr>
            <td>{{date}}</td>
            <td>{{hist.category}}</td>
            <td>{{hist.name}}</td>
            <td>{{hist.price}}원</td>
            <td><form action = "{% url 'delete_history' %}" method = "post">
                    {% csrf_token %}
                    <input name = "id" value ="{{hist.id}}" hidden>
                    <button type="submit" class = "btn btn-danger btn-xs"
                        id = "{{date}}_{{hist.category}}_{{hist.name}}_{{hist.price}}_delete_button">
                        <span class= "glyphicon glyphicon-remove"></span></button>
                </form></td>
        </tr>
        {% endfor%}
</table>
{% endblock second_row_block %}